.etape_inscription {
	float: right;
	margin-right: 60px;
	font-weight: bold;
}

.selection_rgpd {
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 60px;
}

.selection_rgpd form input[type=checkbox] {
	box-shadow: 0px 0px 0px #fff;
}

.selection_rgpd form label {
	display: inline-block;
}

.bouton-submit {
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}