#contenu form {
    margin-top: 30px;
}

#informations_generales {
    padding-left: 50px;
    margin-bottom: 50px;
}

#contenu .bloc_champs label {
    display: block;
    margin-left: 5px;
}

#contenu form input[type="checkbox"] {
    vertical-align: top;
}

#contenu .champs label {
    display: block;
    margin-left: 5px;
}

.bloc_champs {
    float: left;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.champs {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.bloc_champs input#nom {
    width: 300px;
}

.bloc_champs input#prenom {
    width: 300px;
}

.bloc_champs input#telephone {
    width: 300px;
}

.bloc_champs input#fonction {
    width: 300px;
}

.champs input#mail {
    width: 400px;
}

#contenu .champs .aide-contextuelle-message {
    display: block;
    font-style: italic;
    width: 400px;
    margin-top: 5px;
}

#mot_de_passe {
    padding-left: 50px;
    margin-bottom: 50px;
}

#mot_de_passe label{
    display: block;
    margin-left: 5px;
}

.champs_mdp1 {
    margin-left: 50px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.champs_mdp1 .aide-contextuelle-message {
    font-style: italic;
    margin-bottom: 15px;
    display: block;
}

.champs_mdp2 {
    margin-left: 50px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.champs_mdp2 .aide-contextuelle-message {
    width: 500px;
    display: block;
    font-style: italic;
    margin-top: 15px;
}

#rgpd {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 15px;
}

#rgpd .champs {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

#rgpd #consentement-label, #rgpd label, #rgpd .champs, #rgpd .champs label {
    display: inline-block;
}

#rgpd .clear, #rgpd .champs br {
    display: none;
}

#rgpd input{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#contenu .bouton-cancel {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 600px;
}